* {
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
/*flipbook 커스텀 시작*/
#flipBook {
    width: 500px;
    height: 750px;
    overflow: hidden;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.pages {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translate3d(0,0,0);
}
.pages.current {
    z-index: 2;
}
.pages.current + .pages {
    z-index: 1;
}
.pages.flipped {
    right: auto;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    font-size: 68px;
    line-height: 170px;
    color: gold;
    overflow: hidden;
}
.front {
    z-index: 20;
	box-shadow: inset 7px 0 30px -7px rgb(0 0 0 / 40%);
}
.pages:first-child .front {
    background: #2dccb8;
    box-shadow: none;
}
.back {
    box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
    z-index: 10;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/*prev,next button custom start*/
.current .btn {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: pink;
    opacity: 0;
    z-index: 50;
}
/* .current .btn.prev {
    left: -500px;
} */
.pages:first-child.current .btn.prev {
    left: 0;
}
.current .btn.next {
    right: 0;
}
.pages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*prev,next button custom start*/
/*flip animation effect start*/
.flip_right {
	-webkit-animation: flip_right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip_right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.flip_left {
	-webkit-animation: flip_left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip_left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes flip_right {
    0% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        -webkit-transform-origin: left;
                transform-origin: left;
    }
    100% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
        -webkit-transform-origin: left;
                transform-origin: left;
    }
}
@keyframes flip_right {
    0% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        -webkit-transform-origin: left;
                transform-origin: left;
    }
    100% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
        -webkit-transform-origin: left;
                transform-origin: left;
    }
}
@-webkit-keyframes flip_left {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
    }
    100% {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
    }
}
@keyframes flip_left {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
    }
    100% {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
    }
}
/*flip animation effect end*/
/*header start*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #2d7fcc;
}
/*header end*/
/*nav start*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
}
nav ul li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
nav ul li.on {
    background: #ddd;
    font-weight: bold;
}
/*nav end*/
/*bookmark start*/
.bookmark {
    position: absolute;
    top: 0;
    right: 80px;
    width: 30px;
    height: 80px;
    background: skyblue;
}
.bookmark.on {
    background: blue;
}
/*bookmark end*/
/*flipbook 커스텀 시작*/


/*반응형*/
/* @media screen and (max-width: 768px) {
    #flipBook {
        width: 500px;
        overflow: hidden;
    }
    .pages {
        right: auto;
        left: 0;
        width: 100%;
    }
} */